<div class="row">
	<div class="col-6">
		<h1>Questions</h1>
	</div>
	<div class="col-6 mt-2">
		<%= link_to 'New Question', new_post_path, class: 'btn btn-primary' %>
	</div>
</div>
<hr>
<% @posts.each do |post| %>
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
      <p class="card-text"><%= truncate(post.body, length: 60) %></p>
      <% if post.user.id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm card-link btn-primary' %>
      <% end %>  
      <%= link_to 'Show', post_path(post), class: 'btn btn-sm card-link btn-secondary' %>
      <% if post.user.id == current_user.id %>
        <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm card-link btn-danger mr-2' %>
      <% end %>  
    </div>
  </div>
<% end %>
